{% extends 'base.html' %}
{% block content%}
<html>

<body class="home">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="text-center">Welcome to Pitch Ideas</h1><br>
                <div class="bg-img" style="background-image: url(https://d35fo82fjcw0y8.cloudfront.net/2019/05/06143507/agile-marketing-Blog_header1.png);">
                    <img src="https://d35fo82fjcw0y8.cloudfront.net/2019/05/06143507/agile-marketing-Blog_header1.png">
                </div>
            </div>
        </div>
    </div>
</body>

</html>

{% endblock%}