{% extends 'base.html' %}
{% block content%}
<html>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">


<body>
            <div class="row">
                <div class="col-md-12">
                    <h1 class="text-center">Welcome to Pitch App</h1><br>
                    <div class="blogList__img"
                        style="background-image:
                        url(https://d35fo82fjcw0y8.cloudfront.net/2019/05/06143507/agile-marketing-Blog_header1.png);
                        width:70%; background-size: contain;
 ">
                        <img
                            src="https://d35fo82fjcw0y8.cloudfront.net/2019/05/06143507/agile-marketing-Blog_header1.png">
                    </div>
                </div>
            </div>
</body>

</html>

{% endblock%}